header{
    margin:auto;
    font-size: 70px;
    margin-top: 20px;
    text-align: center;
    background-color:rgb(255, 0, 0);

    
}
.logo{
}
.menu{
    font-family:Segoe Print;
}


figure {
    background-color:white;
    border: thin #c0c0c0 solid;
    border-radius: 360px;
    display: flex;
    flex-flow: column wrap;
    padding: 15px;
    max-width: 220px;
}

@media only screen and (max-width: 600px) {
  body {
    background-color: rgb(100, 207, 243);
  }
}


img {
width:120px;
height: 100px;
float: none;
padding: 20px;
}

figcaption {
    color: rgb(0, 0, 0);
    font: italic 15px sans-serif;
    text-align: center;
    margin-bottom:9px;
}
.container{
    display:flex;
    flex-wrap: wrap;
    border: 4px solid rgb(0, 0, 0);
    margin: auto;
    justify-content: space-around;
    align-items: center;
    height: 610px;
    background-color:whitesmoke;
    padding-top: 20px;
    margin-top: 30x;
   padding-bottom: 90px;
   
}
.column-two{
    margin-left: 2px;
}
figure:hover{
    border-radius: 10%;
}

 /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 1000px) {
    figure{
        width:60%;
    }
   .container{
         width:100%;
         height: auto;
   }
   header{
       font-size: 40px;
   }
   footer{
       font-size: 15px;
   }
  
}
footer{
    color: rgb(255, 255, 255);
    background-color:rgb(255, 0, 0);
    text-align: center;
    font-size: 30px;
    height: 50px;
    padding-top: 20px;
}